{% extends 'base.html' %}

{% block welcome_message %}
<div class="text-center container-welcome mt-4">
    <h1 class="welcome-text">Earth System Science Research Group</h1>
    <p class="lead"><strong>Discover projects, data and pubblication</strong> in our different research areas</p>
</div>
{% endblock %}

{% block content %}

<!-- Main Content -->
<div class="container">

    <!-- Carousel Section -->
    <div class="mb-5">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators (dots below the carousel) -->
            <div class="carousel-indicators">
                {% for project in recent_projects %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}"
                    {% if loop.first %}class="active" aria-current="true" {% endif %}
                    aria-label="Slide {{ loop.index }}">
                </button>
                {% endfor %}
            </div>

            <!-- Carousel Inner (Images + Text + Clickable Link) -->
            <div class="carousel-inner">
                {% for project in recent_projects %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <a href="{{ url_for('project_page', project_id=project['id']) }}" class="carousel-link">
                        <div class="carousel-image-container">
                            <img src="{{ url_for('static', filename='images/' + project['img']) }}"
                                class="d-block w-100" alt="{{ project['name'] }}">
                            <div class="carousel-text">
                                <h3>{{ project['name'] }}</h3>
                                <p>{{ project['short_description'] }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- Previous & Next Buttons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    <!-- Spacing between navbar and main content -->
    <div class="my-5">
        <div class="section-title-container">
            <h3 class="section-title">Explore our research, projects and more</h3>
        </div>

        <!-- Research Topics Section -->
        <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
            {% for topic, content in research_topics.items() %}
            <div class="col d-flex align-items-stretch">
                <div class="card shadow-sm h-100">
                    <img src="{{ url_for('static', filename='images/' + content[0]) }}" class="img-fluid"
                        alt="{{ topic }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ topic }}</h5>
                    </div>
                    <a href="{{ url_for('topic_page', topic_name=topic) }}" class="stretched-link"></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Map Section -->
        <div class="mb-5">
            <div class="map-container">
                {{generate_map(project_locations) | safe }}
            </div>
        </div>

    </div>

</div>

</div>


</html>
{% endblock %}